* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 50px;
  display: flex;
  gap: 50px;
  background-color: rgba(255, 228, 196, 0.493);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}

input {
  padding: 3px;
}

#container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
  align-content: baseline;
}

#add {
  margin-top: 20px;
  width: 100px;
  height: 2rem;
  align-self: center;
  background-color: green;
  color: white;
}

.sidebar {
  min-width: 300px;
  border: solid 1px;
  height: 400px;
  padding: 20px;
  background-color: rgba(169, 169, 169, 0.386);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.card {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.card h1 {
  text-align: center;
}

.card h2 {
  align-self: start;
  color: rgba(27, 27, 27, 0.635);
}

.card button {
  align-self: flex-end;
  margin-right: 10px;
  background-color: red;
  color: white;
  width: 60px;
  height: 1.5rem;
}
